@page "/demo-child-content"

<h1>Render child content</h1>

<DemoChildContentChild>
    <h4 style="color:red">
    Content of the child component is supplied
    by the parent component.
</h4>
</DemoChildContentChild>

@code {

}
